.socials-container span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Tooltip */
.socials-container span::before {
  content: attr(data-social);
  position: absolute;
  top: -35px;
  left: 50%;
  background-color: var(--accent-color);
  color: white;
  padding: 8px 17px;
  border-radius: 80px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  transform: translateX(-50%) translateY(0);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
  white-space: nowrap;
}

/* Tooltip arrow */
.socials-container span::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}

/* Show tooltip on hover */
.socials-container span:hover:before {
  transform: translateX(-50%) translateY(-24px);
  opacity: 1;
}

.socials-container span:hover:after {
  transform: translateX(-50%) translateY(-78px);
  opacity: 1;
}




/* LOADER START */

.start-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
 }
 
 /* Loader Animation */
 .loader {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .name-animation {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: hashtag#05886e;
  display: flex;
 }
 
 .name-animation span {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
 }
 
 .name-animation span:nth-child(1) {
  animation-delay: 0.1s;
  margin-right: 5px;
 }
 
 .name-animation span:nth-child(2) {
  animation-delay: 0.2s;
 }
 
 .name-animation span:nth-child(3) {
  animation-delay: 0.3s;
 }
 
 .name-animation span:nth-child(4) {
  animation-delay: 0.4s;
 }
 
 .name-animation span:nth-child(5) {
  animation-delay: 0.5s;
 }
 
 .name-animation span:nth-child(6) {
  animation-delay: 0.6s;
 }
 
 .name-animation span:nth-child(7) {
  animation-delay: 0.7s;
 }
 
 .name-animation span:nth-child(8) {
  animation-delay: 0.8s;
 }
 
 .name-animation span:nth-child(9) {
  animation-delay: 0.9s;
 }
 
 .name-animation span:nth-child(10) {
  animation-delay: 1s;
 }
 
 .name-animation span:nth-child(11) {
  animation-delay: 0.1s;
 }
 
 .name-animation span:nth-child(12) {
  animation-delay: 0.2s;
 }
 
 .name-animation span:nth-child(13) {
  animation-delay: 0.3s;
 }
 
 .name-animation span:nth-child(14) {
  animation-delay: 0.4s;
 }
 
 .name-animation span:nth-child(15) {
  animation-delay: 0.5s;
 }
 
 .name-animation span:nth-child(16) {
  animation-delay: 0.6s;
 }
 
 .name-animation span:nth-child(17) {
  animation-delay: 0.7s;
  margin-right: 5px;
 
 }
 
 .name-animation span:nth-child(18) {
  animation-delay: 0.8s;
 }
 
 .name-animation span:nth-child(19) {
  animation-delay: 0.9s;
 }
 
 /* Keyframes for the Fade-In Animation */
 @keyframes fadeIn {
  0% {
  opacity: 0;
  transform: translateY(-500px);
  }
 
  100% {
  opacity: 1;
  transform: translateY(0);
  }
 }
 @media (max-width:400px) {
  .name-animation{
  font-size : 1.5rem;
  }
 }
 /* From Uiverse.io by kerolos23 */ 
 .loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  color: #7a61cb;
  }
  
  .loader:before,
  .loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
  }
  .name-animation span{
    color: #7a61cb;
  }
  .loader:after {
  color: #7a61cb;
  transform: rotateY(70deg);
  animation-delay: .4s;
  }
  
  @keyframes rotate {
  0% {
  transform: translate(-50%, -50%) rotateZ(0deg);
  }
  
  100% {
  transform: translate(-50%, -50%) rotateZ(360deg);
  }
  }
  
  @keyframes rotateccw {
  0% {
  transform: translate(-50%, -50%) rotate(0deg);
  }
  
  100% {
  transform: translate(-50%, -50%) rotate(-360deg);
  }
  }
  
  @keyframes spin {
  0%,
  100% {
  box-shadow: .6em 0px 0 0px currentcolor;
  }
  
  12% {
  box-shadow: .6em .6em 0 0 currentcolor;
  }
  
  25% {
  box-shadow: 0 .6em 0 0px currentcolor;
  }
  
  37% {
  box-shadow: -.6em .6em 0 0 currentcolor;
  }
  
  50% {
  box-shadow: -.6em 0 0 0 currentcolor;
  }
  
  62% {
  box-shadow: -.6em -.6em 0 0 currentcolor;
  }
  
  75% {
  box-shadow: 0px -.6em 0 0 currentcolor;
  }
  
  87% {
  box-shadow: .6em -.6em 0 0 currentcolor;
  }
}
/* LOADER END */

.portfolio-detail.active{
  display: block;
}

.portfolio-box .num{
  -webkit-text-stroke: .07rem white;
  line-height: 1rem;
}




/* BUBBLES */
.bubble2 {
  height: 30px;
  width: 30px;
  background: #fca249;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: spin1 2s infinite alternate;
  z-index: 0; /* or -1 if your parent has a higher z-index */
}

.bubble3 {
  height: 25px;
  width: 25px;
  background: #ff9398;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  left: 15%;
  animation: spin1 2s infinite alternate;
  z-index: 0;
}

.bubble1 {
  height: 10px;
  width: 10px;
  background: #d27dfa;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 50%;
  animation: spin1 2s infinite alternate;
  z-index: 0;
}

.bubble4 {
  height: 10px;
  width: 10px;
  background: #00c99c;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 80%;
  animation: spin2 2s infinite alternate;
  z-index: 0;
}

.bubble5 {
  height: 20px;
  width: 20px;
  background: #f1d53b;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 41%;
  animation: spin2 2s infinite alternate;
  z-index: 0;
}

@keyframes spin1 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(15px, 15px); }
}

@keyframes spin2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-15px, -15px); }
}
