.socials-container span::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  transform: translateY(-35px) rotate(20deg);
  opacity: 0;
}
.socials-container span::after{
  content: '';
  position: absolute;
  left: 13px;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  text-align: center;
  transform: translateY(0) rotate(25deg);
  opacity: 0;
}

.socials-container span::before{
  transform: translateY(-43px) rotate(0);
  opacity: 1;
}
.socials-container span::after{
  transform: translateY(-52px) rotate(0);
  opacity: 1;
}